@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #6941C6;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.3vw;
  height: 0.3vw;
}

::-webkit-scrollbar-track {
  background: #fcfcfd;
}

::-webkit-scrollbar-thumb {
  background-color: #9fafbf;
  border-radius: 1vmin
}
